.center-image {
    display: block;
    max-width: 272px;
    margin: 55px auto 0px;
    cursor: default;
}

.topnav {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    margin: 0px 10px;
}

.topnav a {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    font-family: sans-serif;
    font-size: inherit;
    text-decoration: none;
    color: rgb(34,34,34);
}

.topnav a:hover {
    text-decoration: underline;
}

.topnav-right {
    display: flex;
    font-size: 13px;
    margin: 0 -30px 0 auto;
}

#apps-icon {
    color: rgb(100,100,100);
    padding: 8px;
}

#apps-icon:hover {
    background-color: rgb(240,240,240);
    border-radius: 50%;
}

#sign_in {
    padding: 10px;
    border-color: transparent;
    background-color: #4285F4;
    color: white;
}

#search-bar{
    display: flex;
    justify-content: space-between;
    width: 580px;
    height: 44px;
    margin: 30px auto 30px;
    border: 1px solid;
    border-color: rgb(225,225,225);
    border-radius: 22px;
    cursor: default;
}

/* Decreasing margins on hover to account
for search bar expandning by 2px
vertically (1px up and 1px down) */
#search-bar:hover {
    height: 46px;
    box-shadow: 0 1px 5px 1px rgb(225,225,225);
    margin-top: 29px;
    margin-bottom: 29px;
}

#search-icon {
    padding: 10px 15px;
    font-size: 20px;
    color: rgb(160,160,160);
    align-self: center;
}

input[type="text"] {
    font-family: sans-serif;
    font-size: 16px;
}

#input-bar {
    width: 500px;
    border-color: transparent;
    align-self: center;
}

#input-bar:focus {
    outline: none;
}

#microphone {
    float: right;
    padding: 6px 20px;
    width: 20px;
    height: 28px;
    align-self: center;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 0px auto;
}

.buttons button {
    margin: 0px 5px;
    padding: 8px 15px;
    font-size: 14px;
    border: 1px solid;
    border-color: rgb(249,249,249);
    color: rgb(64,64,64);
    background-color: rgb(249,249,249);
    border-radius: 4px;
}

.buttons button:hover {
    border: 1px solid;
    border-color: rgb(225,225,225);
    box-shadow: 0 1.5px 2px -0.5px rgb(225,225,225);
}

#leaf {
    width: 20px;
    vertical-align: middle;
}

.bottomnav {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    background-color:rgb(242,242,242);
    padding-left: 20px;
    padding-top: 1px;
}

.bottomnav a {
    font-size: inherit;
    padding: 15px;
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(117,117,117);
}

.bottomnav a:hover {
    text-decoration: underline;
}

.bottomnav-center {
    position: absolute;
    left: 50%;
    bottom: 12px;
    transform: translate(-50%,0%);
}

.bottomnav-right {
    display: flex;
    margin: 0 40px 0 auto;
}
